@import '../css/components.css';

@font-face {
  font-family: 'Mona Sans';
  src: url('../fonts/mona-sans.woff2') format('woff2 supports variations'), url('../fonts/mona-sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Hubot Sans';
  src: url('../fonts/hubot-sans.woff2') format('woff2 supports variations'), url('../fonts/hubot-sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
    --fontFamily: 'Mona Sans';
    --systemBorderColor: 199, 44%, 93%;
    --systemBackgroundColor: 200, 43%, 99%;
    --containerSize: 75%;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    background-color: #FFFFFF;
    scroll-behavior: smooth;
}

body {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}

body > header {
    position: sticky;
    top: 0;
    z-index: 1;
    border-bottom: 1px;
    border-bottom-style: solid;
    border-bottom-color: #E5F0F5;
    background-color: #FFFFFF;
}

body > header > section {
    inline-size: var(--containerSize);
    margin-inline: auto;
    padding: 0.75rem;
}

body > main {
    flex-grow: 1;
}

body > main > header {
    inline-size: var(--containerSize);
    margin-inline: auto;
    padding: 2.75rem 0.75rem;
}

body > main > section {
    inline-size: var(--containerSize);
    margin-inline: auto;
    padding: 2.75rem 0.75rem;
}

body > main > footer {
    inline-size: var(--containerSize);
    margin-inline: auto;
    padding: 2.75rem 0.75rem;
}

body > footer {
    padding-block-start: 2.75rem;
    background-color: #FAFCFD;
    border-top: 1px;
    border-top-style: solid;
    border-top-color: #E5F0F5;
}

body > footer > section {
    inline-size: var(--containerSize);
    margin-inline: auto;
    padding: 0.75rem;
}

.icon-example {
    position: relative;
    display: inline-block;
    border: 1px solid hsla(var(--systemBorderColor), 1.0);
    border-radius: 10px;
    background: linear-gradient(#E5F0F5 1px, transparent 1px), linear-gradient(to right, #E5F0F5 1px, transparent 1px), linear-gradient(#FBFDFE, #FBFDFE);
    background-size: 25px 25px;
    background-origin: border-box;
    overflow: hidden;
}

.icon-gradient {
    inline-size: inherit;
    block-size: inherit;
    background: linear-gradient(145deg, transparent 0%, #FBFDFE 60%);
}

.icon-content {
    inline-size: inherit;
    block-size: inherit;
    padding: 14px 16px;
    
    display: flex;
    justify-content: center;
    align-items: center;
    aspect-ratio: 1/1;
}

.scroll > .hstack .example {
    min-inline-size: 400px;
}

.snippet > p {
    --fontSize: 14px;
    --lineHeight: 22px;
    
    font-family: 'Hubot Sans';
}

.step {
    padding: 0.75rem 1.75rem;
    inline-size: 100%;
    min-block-size: 100px;
    display: flex;
    flex-direction: column;
    gap: 15px;
    border-radius: 0.313rem;
    background-color: #FAFCFD;
}

.step.state\:focused {
    background-color: #E5F0F5;
}

.step > .description {
    flex-grow: 1;
    
    font-family: var(--fontFamily);
    font-size: 0.9rem;
}

.step > .note {
    font-family: var(--fontFamily);
    font-style: italic;
    font-size: 0.9rem;
}

.console {
    position: relative;
    padding-block: 10px;
    inline-size: 100%;
    block-size: 100%;
    min-block-size: 1200px;
    display: none;
    background-color: #E5F0F5;
    border-radius: 0.313rem;
    overflow-x: auto;
}

.console > .code > p {
    display: block;
    font-size: 14px;
    line-height: 22px;
    word-wrap: normal;
    white-space: pre;
    counter-increment: line;
}

.console > .code > p::before {
    position: relative;
    display: inline-block;
    margin-inline-end: 0.938rem;
    padding-inline: 0.938rem;
    white-space: nowrap;
    text-align: right;
    content: counter(line);
    color: #000000;
    -webkit-user-select: none;
}

.code {
    font-family: 'Hubot Sans', monospace;
    font-size: 16px;
    white-space: pre-wrap;
}

#modal {
    width: 800px;
    height: 500px;  
}

.icon {
    --iconColor: black;

    padding-inline: 2px;
    padding-block: 1px;
    width: 20px;
    height: 20px;
    display: grid;
    place-items: center;
    place-content: center;
    border-width: 1px;
    border-style: solid;
    border-color: hsla(var(--iconColor), 1.0);
    border-radius: 2px;
    font-size: 14px;
    font-weight: 500;
    color: hsla(var(--iconColor), 1.0);
    background-color: hsla(var(--iconColor), 0.1);
}

.icon.color\:blue {
    --iconColor: var(--blueColor);
}

.icon.color\:red {
    --iconColor: var(--redColor);
}

.icon.color\:orange {
    --iconColor: var(--orangeColor);
}

.icon.color\:green {
    --iconColor: var(--greenColor);
}

.scroll {
    width: 100%;
}

.highlight {
    background-color: hsla(var(--blueColor), 0.5);
}

.section {
    inline-size: 100%;
    block-size: 1500px;
    display: flex;
    flex-direction: column;
    gap: 2.25rem;
    margin-block-end: 2.25rem;
}

#documentation .link:hover {
    background-color: #E5F0F5;
    border-radius: 5px;
}
