@import '../css/modules/stencils.css';
@import '../css/modules/tutorial.css';
@import '../css/modules/reference.css';
@import '../css/partials/icon.css';
@import '../css/partials/icon-example.css';
@import '../css/modules/stencils.css';
@import '../css/partials/example.css';

@font-face {
  font-family: 'Mona Sans';
  src: url('../fonts/mona-sans.woff2') format('woff2 supports variations'), url('../fonts/mona-sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

@font-face {
  font-family: 'Hubot Sans';
  src: url('../fonts/hubot-sans.woff2') format('woff2 supports variations'), url('../fonts/hubot-sans.woff2') format('woff2-variations');
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
    --fontFamily: 'Mona Sans';
    --systemBorderColor: 199, 44%, 93%;
    --systemBackgroundColor: 200, 43%, 99%;
    --containerSize: 80%;

    @media (min-width: 1680px) {
        --containerSize: 60%;
    }
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box
}

html {
    background-color: hsla(var(--whiteColor), 1.0);
    scroll-behavior: smooth;

    body {
        min-inline-size: 100vh;
        display: flex;
        flex-direction: column;

        > header {
            position: sticky;
            top: 0;
            z-index: 1;
            border-bottom-width: 1px;
            border-bottom-style: solid;
            border-bottom-color: #E5F0F5;
            background-color: #FFFFFF;

            > section {
                margin-inline: auto;
                padding: 0.75rem;
                inline-size: var(--containerSize);
            }
        }

        > main {
            flex-grow: 1;

            padding-bottom: 5.5rem;

            > header {
                margin-inline: auto;
                padding-block: 2.75rem;
                padding-inline: 0.75rem;
                inline-size: var(--containerSize);
            }

            > section {
                margin-inline: auto;
                padding-block: 2.75rem;
                padding-inline: 0.75rem;
                inline-size: var(--containerSize);
            }

            > footer {
                margin-inline: auto;
                padding-block: 2.75rem;
                padding-inline: 0.75rem;
                inline-size: var(--containerSize);
            }
        }

        > footer {
            padding-block-start: 2.75rem;
            border-top-width: 1px;
            border-top-style: solid;
            border-top-color: #E5F0F5;
            background-color: #FAFCFD;

            > section {
                margin-inline: auto;
                padding-block: 0.75rem;
                padding-inline: 0.75rem;
                inline-size: var(--containerSize);
            }
        }
    }
}

.scroll {
    .hstack {
        .example {
            min-inline-size: 400px; /* Temporary fix */
        }
    }
}

.snippet {
    p {
        --fontSize: 15px;
        --lineHeight: 22px;

        font-family: 'Hubot Sans', monospace;
    }
}

/* Temporary fix */
#modal {
    inline-size: 800px;
    block-size: 500px;
}

.scroll {
    inline-size: 100%;
}

/* Temporary fix */
.card {
    overflow: clip;

    &.background\:blue\/transparent {
        /* Adds a background gradient to the card */
        background: linear-gradient(180deg, hsla(210, 40%, 96%, 0.5) 0%, hsla(244, 100%, 45%, 0.0) 46%);
    }
    
    .card-header {
        img {
            mask-image: linear-gradient(to top, transparent 0, black 23%);
        }
    }
    
    .card-body {
        flex-grow: 1;
        
        .vstack {
            height: 100%;
            
            .text:nth-child(2) {
                flex-grow: 1;
            }
        }
    }
}

.image {
    &.background\:test2 {
        background: radial-gradient(circle, hsla(210, 40%, 96%, 1.0) 9%, hsla(244, 100%, 45%, 0.0) 28%);
    }
}
